*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleaway", sans-serif;
}

header {
    background: linear-gradient(90deg, #ff4800, #ffa600);
    color: #ffffff;
    text-align: center;
    padding: 1rem 2rem;

}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: "Bahiana", sans-serif;
    font-weight: 500;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 0.5rem;

}

nav a {
    color: #7ca6ff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffd966;
}

.features {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 2rem;
    background-color: white;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  text-align: center;
}

.home-container h1 {
  font-size: 2.5rem;
  color: #ff7a00; /* naranja */
  margin-bottom: 1rem;
}

.home-container p {
  max-width: 700px;
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 2rem;
}


/*idk*/


.btn-main {
  background: #00c2ff; /* celeste */
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn-main:hover {
  background: #009ed6; /* celeste más oscuro */
  transform: scale(1.05);
}



/*adadsadf*/

footer {
  margin-top: 3rem;
  padding: 1rem;
  background: #f5f5f5;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}